html {
  background: #008080;
  color: #eee;
  height: 100%; }

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Oswald";
  font-weight: 400; }

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  border-bottom: 2px solid transparent; }

nav a:hover {
  border-bottom: 2px solid #fff; }

.menu-list a {
  display: inline-block;
  margin: 0 10px; }
  @media screen and (min-width: 700px) {
    .menu-list a {
      margin-top: 50px;
      vertical-align: bottom; } }

@media screen and (min-width: 700px) {
  .menu-list {
    float: right; } }

.main-logo {
  padding: 20px; }
  @media screen and (min-width: 700px) {
    .main-logo {
      float: left;
      padding: 20px; } }

nav {
  height: 70px; }

.active {
  border-bottom: 2px solid #fff; }

.main-container {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .main-container {
      width: 80%; } }
  @media screen and (min-width: 960px) {
    .main-container {
      max-width: 800px; } }

p {
  font-family: "Open Sans";
  line-height: 2;
  font-size: 0.8em;
  text-transform: uppercase; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 0.9em; } }

audio {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; }

audio::-webkit-media-controls-enclosure {
  max-width: 100%; }

.about, .testimonials {
  padding: 2em 0; }

footer {
  margin-bottom: 30px; }

.banner {
  margin-top: 2em;
  position: relative;
  overflow: visible;
  padding: 2em 0 2em; }

.banner li {
  list-style: none;
  height: 50vh;
  text-align: center;
  text-overflow: hidden;
  padding-bottom: 2em; }

.banner ul li {
  float: left; }

.banner ul {
  padding: 0; }

.client {
  text-transform: uppercase;
  font-weight: bold; }

.client-logos img {
  margin: 1em 20px 1em 20px; }

.contact {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding-bottom: 40px;
  margin-top: 100px; }
  @media screen and (min-width: 700px) {
    .contact {
      margin-top: 50px; } }

input[type="text"], input[type="email"] {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  width: 90%;
  height: 30px;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
  margin-left: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2); }
  @media screen and (min-width: 700px) {
    input[type="text"], input[type="email"] {
      width: 80%; } }

input[type="text"]:focus, input[type="email"]:focus {
  background: #fff;
  color: #000; }

select {
  width: 90%;
  height: 20px;
  float: left;
  margin-left: 20px; }
  @media screen and (min-width: 700px) {
    select {
      width: 80%; } }

.contact-details, .contact-message {
  width: 100%; }
  @media screen and (min-width: 700px) {
    .contact-details, .contact-message {
      float: left;
      width: 50%; } }

textarea {
  width: 90%;
  height: 140px;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin-left: 20px;
  float: left;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2); }
  @media screen and (min-width: 700px) {
    textarea {
      width: 90%; } }

textarea:focus {
  background: #fff;
  color: #000; }

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 0 auto;
  float: right;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 37px; }
  @media screen and (min-width: 700px) {
    input[type="submit"] {
      display: block;
      margin-right: 20px;
      margin-top: 10px; } }
